.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;

}
.about-me-parent {
  max-width: 1000px;
  width: 70%;
}
.about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0px 20px -2px #1f2235;
  border-radius: 5px;
}

.about-me-profile {
  width: 50%;
  background-image: url(../../assets/Home/E8589A0E-F01D-427B-8061-B1FCA1693134.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 0 0 5px;
}
.about-me-details {
  width: 70%;
  text-align: justify;
  padding: 30px;
  margin: 0.375rem;
}
.about-me-description {
  font-size: 14px;
}
.about-me-highlights {
  margin: 80px 0;
}
.highlight-heading {
  font-family: "Poppins Bold";
  font-size: 14px;
  margin: 0.375rem;
}
.highlight {
  align-items: center;
  margin: 5px 0;
  font-size: 12px;
}
.highlight-blob {
  height: 12px;
  width: 14px;
  margin: 0 10px 0 0;
  background-color: red;
}
.badge {
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  font-size: 14px;
  height: 32px;
  margin: 0.375rem;
}

.badge-child{
  align-items: center;
  display: inline-flex;
  height: 100%;
  max-width: 100%;
}

.about-me-options .highlighted-btn {
  margin: 0 0 0 30px;
}

/*IPAD PRO RESPONSIVENESS*/

@media only screen and (max-width: 1110px){
  .about-me-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px){
  .about-me-profile {
    display: none;
  }
  .about-me-details{
    width: 100%;
  }
}
@media only screen and (max-width: 466px){
  .about-me-options{
    display: flex;
    flex-direction: column;
  }
  .about-me-options .highlighted-btn{
    margin: 24px 0 0 0 !important;
  }
  .about-me-options {
    width: 100%;
  }

}
